<div>
  <h1> SignUp </h1>
  <form action="/signup" method="POST">
    <label for=""> Username
      <input type="text" name="username" placeholder="Enter username">
    </label>
    <label for=""> Password
      <input type="password" name="password" placeholder="Enter password">
    </label>
    <button type="submit"> SignUp </button>
  </form>
</div>