<h1>Stay-with-me </h1>
<form>
  <div>
    <button onclick="myFunction()">Destination</button>

    <div>
      <a href="#">Greece</a>
      <a href="#">Sri Lanka</a>
      <a href="#">Denmark</a>
    </div>
  </div>
  <!-- <button><a href="">Dates</a></button> -->
  <div>
    <button onclick="myFunction()">Number of guests</button>

    <div>

    </div>
  </div>
  <input type="search" placeholder="Search">
  <button>Search</button>
</form>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>