<h1> Hello </h1>
<form action="/destination" method="POST">
  <select name="destination">
    <option>Denmark</option>
    <option>Santorini</option>
    <option>Sri Lanka</option>
  </select>
  <button type="submit">Search</button>
</form>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>