<h1><%=Stay-with-me %></h1>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Destination
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Denmark</a>
    <a class="dropdown-item" href="#">Santorini</a>
    <a class="dropdown-item" href="#">Sri Lanka</a>
  </div>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Guests
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">2</a>
    <a class="dropdown-item" href="#">5</a>
    <a class="dropdown-item" href="#">7</a>
  </div>
</div>
<button type="submit">Search</button>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>