<h1><%=Stay-with-me %></h1>
<form>
  <button><a href="">Destination</a></button>
  <button><a href="">Dates</a></button>
  <button><a href="">Number of guests</a></button>
  <input type="search" placeholder="Search">
  <button>Search</button>
</form>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>