<h1> Hello </h1>
<form action="/destination" method="POST">
  <select name="destination">
    <option>Denmark</option>
    <option>Santorini</option>
    <option>Sri Lanka</option>
  </select>
</form>
<form>
  <select name="guests">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
  </select>
</form>

<button type="submit">Search</button>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>