 <div class="welcome-wrapper">
   <div class="welcome">
     <section class="welcome-content">
       <h1 class="mb-5"> Stay with me </h1>
       <p>Let's explore together your next destination!</p>
     </section>
   </div>
   <div class="auth-links">
     <section class="links">
       <section class="signup-link"><a href="/signup">Signup</a></section>
       <section class="login-link"> <a href="/login">Login</a></section>
     </section>
   </div>
 </div>