 <div class="welcome-wrapper">
   <section class="welcome">
     <h1><%= appTitle %></h1>
   </section>
   <section class="auth-links">
     <div class="links">
       <div class="signup-link"> <a href="/signup">Signup</a></div>
       <div class="login-link"> <a href="/login">Login</a></div>
     </div>
   </section>
 </div>