 <div class="welcome-wrapper">
   <div class="welcome">
     <h1><%= appTitle %></h1>
   </div>
   <div class="auth-links">
     <section class="links">
       <section class="signup-link"><a href="/signup">Signup</a></section>
       <section class="login-link"> <a href="/login">Login</a></section>
     </section>
   </div>
 </div>